{
  "token": "discord token here",
  "prefix": "prefix here",

  "resources": {
    "banForm": "google form link to ban form"
  },

  "permissions": {
    "master": ["defines bypass permissions, can be one id", "or a list of them"]
  },

  "modes": {

  },

  "apiKeys": {
    "soundcloud": "soundcloud id for music",
    "google": "google api key for search"
  }
}
