{
  "bot": {
    "token": "discord token here"
  },

  "settings": {
    "prefix": "prefix here",
    "maxPurge": 2000
  },

  "resources": {
    "banForm": "google form link to ban form"
  },

  "permissions": {
    "master": ["defines bypass permissions, can be one id", "or a list of them"]
  },

  "modes": {
    
  },

  "defaults": {
    "volume": 20
  },

  "apiKeys": {
    "soundcloudId": "soundcloud id for music",
    "googleAPIKey": "google api key for search"
  },

  "firebase": {
    "apiKey": "firebase api key",
    "authDomain": "firebase auth domain",
    "databaseURL": "firebase database url",
    "storageBucket": "firebase storage bucket",
    "messagingSenderId": "firebase messaging sender id"
  }
}
